@import './_variables'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import './_icones'
@import './_fonts'

header
    background-color: #e6e6cc
    height: 780px
    overflow: hidden
nav
    z-index: 2
.parentlogo
    flex: 1

.form
    flex: 2
.icon
    flex: 1
li
    list-style: none

a
    text-decoration: none
.border-nav
    border-bottom: 1px solid lightgray
    margin-bottom: 50px

.ligne
    height: 2px
    border-bottom: 1px solid black
    width: 30px
    margin-top: 9px
.fs-7
    font-size: 13px
.fs-0
    font-size: 50px
.women
    font-size: 150px
header
    a
        color: black
.vertical
    margin-top: 15px

    writing-mode: vertical-lr
    transform: rotate(180deg)
    margin-left: -6px
nav
    a:hover
        border-bottom: 3px solid black
        color: black

.petit
    margin-top: 10px
    height: 30px
    width: 40px
    background-color: white
.blanc
    right: 0%
    cursor: pointer
.section1
    margin-top: 70px
    color: gray
    p
        border-right: 2px solid lightgray
        padding-right: 115px
.nav-responsive
    display: none
@media (min-width: 576px) and (max-width:768px)
    .nav-responsive
        display: block
        font-size: 30px
    .form
        order: -1
        flex-direction: column
        li
            display: none
    header
        height: 100%
        h2
            font-size: 25px !important
    .sac
        width: 300px
    .section1
        p
            padding: 30px

@media (max-width:576px)
    .nav-responsive
        display: block
        font-size: 20px
    .icon
        font-size: 10px
    .logo
        width: 50px
    .form
        order: -1
        flex-direction: column
        li
            display: none
    .pvertical
        display: flex
        justify-content: center
    .vertical
        margin: 0
    .women
        font-size: 80px
    header
        height: 100%
        h2
            font-size: 25px !important
    .sac
        width: 300px
    .section1
        flex-direction: column
        justify-content: center
        text-align: center
        p
            padding: 0
            border-right: none
            border-bottom: 1px solid gray

.about
    height: 20px
.container2
    margin: 0 17%
.harmony
    font-size: 22px
.p
    padding: 100px 0

@media ( min-width: 576px ) and ( max-width:768px )
    section:first-of-type
        img
            width: 150px
@media  ( max-width: 576px  )
    section:first-of-type
        img
            width: 200px
        .papaimg
            flex-direction: column
            text-align: center

.section2
    background-color: #e6e6cc

@media ( min-width: 576px ) and ( max-width:768px )
    .section2
        img
            width: 250px
        p
            font-size: 10px
@media  ( max-width: 576px  )
    .section2
        img
            width: 250px
        p
            font-size: 10px

.coeur
    position: absolute
    top: -6px
    left: -8px
    background-color: white
    // color: white
    height: 15px
    width: 15px
    text-align: center
    border-radius: 50%
    color: black
.panier
    position: absolute
    top: -6px
    left: -8px
    background-color: white
    // color: white
    height: 15px
    width: 15px
    text-align: center
    border-radius: 50%
    color: black
.click

.btns2
    font-size: 14px
.section4
    background-color: #e6e6cc
    display: flex
    flex-direction: column
    align-items: center

.papacarousel
    width: 134vh

    overflow: hidden
.carousell
    width: 64vh
    margin-left: 20px
.elementc
    border-radius: 15px
    background-color: white
    padding: 20px
    // width:80%
    // transform: translateX(50%)
.right
    background-color: transparent
    padding: 10px
    border: none
.left
    background-color: transparent
    padding: 10px
    border: none
.triangle
    width: 0
    height: 0
    border: 0 solid transparent
    border-right-width: 20px
    border-left-width: 20px
    border-top: 40px solid white
    margin-left: 20px
.droite
    transform: translateX(10%)
    transition: 2s
.btninput
    font-size: 15px
    border: none
.section4
    button:first-of-type
        position: absolute
        bottom: 50%
        left: 0%
        z-index: 2
    button:nth-of-type(2)
        position: absolute
        bottom: 50%
        right: 0%
        z-index: 2

.mt-ligne
    margin-top: 4%
.papaform
    height: 550px
.divform1
    flex: 5
    background-image: url('../../public/img/collect/one-page-img-04.jpg')
    background-size: cover
.bulle

    img
        border-radius: 50%
        width: 80px
.divform2
    background-color: #e6e6cc

    display: flex
    flex-direction: column
    // align-items: center
    justify-content: center
    flex: 4
.divform3
    flex: 5.9
    background-image: url('../../public/img/fashion/fashion-brand-parallax-bg.jpg')
    background-size: cover

.section5
    input,textarea
        font-size: 14px
        margin-bottom: 20px
        width: 100%
        background-color: transparent
        border: none
        border-bottom: solid gray 2px
.py-6
    padding: 150px 0
    font-weight: bold
@media (min-width: 576px) and ( max-width: 768px  )
    .papaform
        height: 1500px
    .papacarousel
        width: 100vh

@media (max-width: 576px)
    .papaform
        height: 1500px
    .papacarousel
        width: 80%
    .carousell
        width: 38vh
    .jsp
        width: 100%
footer
    background-color: #000000d2
    color: white
    // padding: 0 200px
    input
        background-color: #5350501f
        border: none
        width: 200px
        height: 40px
    button
        background-color: #5350501f
        border: none
        color: gray
        height: 40px
        // width: 50%
    .last
        font-size: 12px

    .matete
        p
            color: gray
            line-height: 15px
        span
            color: gray
.scrollup
    color: gray
    position: fixed
    bottom: 55px
    right: 0px
    transform: rotate(270deg)
.theme
    background-color: black
    height: 20px
    width: 20px
    border-radius: 50%
@media (min-width: 768px) and (max-width: 1024px)
    #about
        img
            width: 200px
    .section2
        img
            width: 300px
  
