@import './_variables'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import './_icones'
@import './_fonts'

header
    background-color: #e6e6cc
    height: 780px

.parentlogo 
    flex: 1
.form
    flex: 2
.icon
    flex: 1
li
    list-style: none

a
    text-decoration: none
.border-nav
    border-bottom: 1px solid lightgray 
    margin-bottom: 50px

.ligne
    height:2px
    border-bottom: 1px solid black
    width: 30px
    margin-top: 9px 
.fs-7
    font-size: 13px
.fs-0
    font-size: 50px
.women
    font-size: 150px
header
    a
        color: black
.vertical
    margin-top: 15px
    

    writing-mode: vertical-lr
    transform: rotate(180deg)
    margin-left: -6px
nav
    a:hover
        border-bottom: 3px solid black
        color: black

.petit
    margin-top: 10px
    height: 30px 
    width: 40px
    background-color: white
.blanc
    right:0%
    cursor: pointer